%h1 Development Timeline

.row
  .list-group
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      %div.list-group-item.active{href: "#"}
        %h4.list-group-item-heading Tuesday July 15, 2014
        %p.list-group-item-text I've been sick, but spec'ed this project and ready to crank it out. Ready, set, go. Time to build a product in a day hackathon style.