%h1 Development Timeline

%h2 This is an experiment on rapid prototyping responsive webapps

.spacer

.col-lg-6
  .panel.task
    .panel-heading
      %span.date Wednesday July 16, 2014
      %span.hours Hours coded: ??
    .panel-body
      %p This is a placeholder for tomorrow so I can style this page

    %ul.list-group
      %li.list-group-item
        %span.badge styling
        %span It's not tomorrow yet, so this is a fake entry

.col-lg-6
  .panel.task
    .panel-heading
      %span.date Tuesday July 15, 2014
      %span.hours Hours coded: 2:30
    .panel-body
      %p I've been sick, but spec'ed this project and ready to crank it out. Ready, set, go. Time to build a product in a day hackathon style.

    %ul.list-group
      %li.list-group-item
        %span.badge architecture
        %span Created rails project, setup github repo, added haml templates and haml-rails

      %li.list-group-item
        %span.badge architecture
        %span I'm going to make this site an experiment for responsive design at Walmart Labs. For responsiveness I added
        %a{href: 'http://getbootstrap.com'}
          Bootstrap 3

      %li.list-group-item
        %span.badge styling
        %span Style the very page your looking at now, and make sure it looks good on Android Nexus 5, Nexus 7, Nexus 10, iPhone 4, iPhone 5, iPad and Macbook Pro. Added media queries and bootstrap 3 grid

      %li.list-group-item
        %span.badge styling
        %span Setup a color scheme for the site. Using yellows and oranges.
