%h1 Development Timeline

%h2 This is an experiment on rapid prototyping responsive webapps

.spacer

.col-lg-6
  .panel.task.timeline
    .panel-heading
      %span.date Wednesday July 16, 2014
      // %span.hours Hours coded: ??
    .panel-body
      %p I woke up sick again today. I'm hoping to crank out the rest of this site today including buy and review buttons, reviews themselves, an email system to keep people updated of reviews and leaderboard. We'll see if I can crank all that out in 6 hours...

    %ul.list-group
      %li.list-group-item
        %span.badge feature
        %span added recommended to reviews

      %li.list-group-item
        %span.badge feature
        %span book reviews index page review panel design and styling

      %li.list-group-item
        %span.badge styling
        %span style new review form

      %li.list-group-item
        %span.badge feature
        %span create reviews controller, model and CRUD.

      %li.list-group-item
        %span.badge feature
        %span added 30 great programming and development books sourced from hn-books.com and a couple other places. Added a title, description, reward value, purchase link, and an image for each book.

      %li.list-group-item
        %span.badge styling
        %span different themes (colors sets) for different book categories

      %li.list-group-item
        %span.badge feature
        %span buy and review buttons, with buy button using Amazon links popped up in new tabs. Soon I'll have walmart or amazon links, with the choice.

.col-lg-6
  .panel.task.timeline
    .panel-heading
      %span.date Tuesday July 15, 2014
      // %span.hours Hours coded: 2:30
    .panel-body
      %p I've been sick, but spec'ed this project and ready to crank it out. Ready, set, go. Time to build a product in a day hackathon style.

    %ul.list-group
      %li.list-group-item
        %span.badge feature
        %span Dynamically sizable descriptions with MORE and LESS buttons

      %li.list-group-item
        %span.badge feature
        %span Add pictures to books with Carrierwave and Cloudinary

      %li.list-group-item
        %span.badge feature
        %span Add Books model, index, show, etc. but not linked to the navigation until it's styled

      %li.list-group-item
        %span.badge feature
        %span Add User model, devise, and style sign up form

      %li.list-group-item
        %span.badge feature
        %span Get Started! button for a super huge CTA on landing page

      %li.list-group-item
        %span.badge feature
        %span Added responsive navbar

      %li.list-group-item
        %span.badge styling
        %span Isolate styles into sass variables so theme changing later is easy peasy

      %li.list-group-item
        %span.badge styling
        %span Added viewport meta tags for device scale on Android / iOS

      %li.list-group-item
        %span.badge styling
        %span Setup a color scheme for the site. Using yellows and oranges.

      %li.list-group-item
        %span.badge styling
        %span Style the very page your looking at now, and make sure it looks good on Android Nexus 5, Nexus 7, Nexus 10, iPhone 4, iPhone 5, iPad and Macbook Pro. Added media queries and bootstrap 3 grid

      %li.list-group-item
        %span.badge architecture
        %span I'm going to make this site an experiment for responsive design at Walmart Labs. For responsiveness I added
        %a{href: 'http://getbootstrap.com'}
          Bootstrap 3

      %li.list-group-item
        %span.badge architecture
        %span Created rails project, setup github repo, added haml templates and haml-rails

