.container.welcome
  %h2 Read.
  %h3 A good book.
  %h2 Share.
  %h3 Highlights and take-aways.
  %h2 Win.
  %h3 Rewards for your effort.

  %a.cta-button.signup{href: new_user_registration_path} Get Started!