@import 'variables';

input, a.cta-secondary-button {
  background-color: $clouds;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 2.0rem;
  height: 46px;
  line-height: 2.4rem;
  padding: 10px 16px;
  max-width: 400px;
  width: 95%;
  -webkit-appearance: none;
}
.field {
  width: 100%;
  text-align: center;
}
input[type=submit], a.cta-secondary-button {
  background: $pomegranate;
  border: 2px solid $pomegranate;
  color: white;
  cursor: pointer;
  font-size: 3.0rem;
  height: 60px;
  &:hover {
    border: 2px solid $midnightblue;
    color: white;
    text-decoration: none;
  }
}

.action-link {
  color: $pomegranate;
  font-size: 2.4rem;
  &:hover {
    color: $midnightblue;
    text-decoration: none;
  }
}

.book-panel {
  .value {
    border-radius: 20px;
    background-color: white;
    color: green;
    font-size: 3.0rem;
    padding: 6px 10px;
    position: absolute;
    right: 27px;
    top: 13px;
  }
  .title {
    margin-right: 70px;
    max-height: 60px;
    overflow: hidden;
  }
  .picture {
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 200px;
  }
  .category {
    font-size: 3.0rem;
  }
}

.book-panel.marketing {
  background-color: $panel-marketing-bg;
  border-color: $panel-marketing-header-border;
  color: white;
  .list-group-item {
    background-color: $panel-marketing-bg;
  }
  .panel-heading, .panel-footer {
    background-color: $panel-marketing-header-bg;
    border-color: $panel-marketing-header-border;
  }
  .badge {
    background-color: $panel-marketing-header-bg;
    border: 1px solid $panel-marketing-highlight;
    color: $panel-marketing-header-border;
  }
}

.pad-bottom {
  padding-bottom: 30px;
}