
// COLORS
$sunflower: #f1c40f;
$wetasphault: #34495e;
$asbestos: #7f8c8d;
$clouds: #ecf0f1;
$midnightblue: #2c3e50;
$orange: #f39c12;
$pomegranate: #c0392b;
// END COLORS


// THEME
$page-bg: $sunflower;
$page-copy: $midnightblue;
$panel-header-bg: $orange;
$panel-header-border: $midnightblue;
$panel-bg: $clouds;
$highlight: $pomegranate;
$header1: $wetasphault;
$header2: $asbestos;
// END THEME


h1 {
  color: $header1;
  text-align: center;
}

h2 {
  color: $header2;
  font-size: 2.3rem;
  margin-top: -15px;
  text-align: center;
}

html, body {
  background: $page-bg;
  color: $page-copy;
  margin: 35px auto 0 auto;
}

.spacer {
  height: 20px;
}

.panel {
  background-color: $panel-bg;
  border-color: $panel-header-border;
  .list-group-item {
    background-color: $panel-bg;
  }
  .panel-heading {
    background-color: $panel-header-bg;
    border-color: $panel-header-border;
  }
  .date {
    font-weight: bold;
  }
  .hours {
    float: right;
  }
  .badge {
    background-color: $orange;
    border: 1px solid $highlight;
    color: $panel-header-border;
  }
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: $pomegranate;
  &:hover {
    background-color: $pomegranate;
  }
}