@import 'variables';

h1 {
  color: $header1;
  text-align: center;
}

h2 {
  color: $header2;
  font-size: 2.3rem;
  margin-top: -15px;
  text-align: center;
}

html, body {
  background: $page-bg;
  color: $page-copy;
  margin: 35px auto 0 auto;
}

.spacer {
  height: 20px;
}

.panel {
  background-color: $panel-bg;
  border-color: $panel-header-border;
  .list-group-item {
    background-color: $panel-bg;
  }
  .panel-heading {
    background-color: $panel-header-bg;
    border-color: $panel-header-border;
  }
  .date {
    font-weight: bold;
  }
  .hours {
    float: right;
  }
  .badge {
    background-color: $orange;
    border: 1px solid $highlight;
    color: $panel-header-border;
  }
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: $pomegranate;
  &:hover {
    background-color: $pomegranate;
  }
}
.navbar-brand.active {
  color: white;
}

.welcome {
  margin-top: 10px;
  h2 {
    color: $header1;
    font-size: 8.0rem;
    line-height: 8.0rem;
    padding: 40px 10px;
  }
  h3 {
    font-size: 2.3rem;
    margin-top: -50px;
    text-align: center;
    color: $midnightblue;
  }
}

.pad-header {
  margin-top: 20px;
  margin-bottom: 25px;
}

.cta-button {
  display: block;
  text-align: center;
  font-size: 6.0rem;
  background: $pomegranate;
  width: 400px;
  max-width: 80%;
  margin: 40px auto 0 auto;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  border: 2px solid $pomegranate;
  &:hover {
    color: white;
    border: 2px solid $midnightblue;
    text-decoration: none;
  }
}