// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sunflower: #f1c40f;
$wetasphault: #34495e;
$asbestos: #7f8c8d;
$clouds: #ecf0f1;
$midnightblue: #2c3e50;
$orange: #f39c12;
$pomegranate: #c0392b;

h1 {
  text-align: center;
  color: $wetasphault;
}

h2 {
  font-size: 2.3rem;
  color: $asbestos;
  margin-top: -15px;
  text-align: center;
}

html, body {
  margin: 0 auto;
  background: $sunflower;
  color: $midnightblue;
}

.spacer {
  height: 20px;
}

.panel {
  background-color: $clouds;
  border-color: $midnightblue;
  .list-group-item {
    background-color: $clouds;
  }
  .panel-heading {
    background-color: $orange;
    border-color: $midnightblue;
  }
  .date {
    font-weight: bold;
  }
  .hours {
    float: right;
  }
  .badge {
    background-color: $orange;
    border: 1px solid $pomegranate;
    color: $midnightblue;
  }
}
