
// COLORS
$sunflower: #f1c40f;
$wetasphault: #34495e;
$asbestos: #7f8c8d;
$clouds: #ecf0f1;
$midnightblue: #2c3e50;
$orange: #f39c12;
$pomegranate: #c0392b;

$wisteria: #8e44ad;
$belize_hole: #2980b9;
$green_sea: #16a085;
$emerald: #2ecc71;
// END COLORS


// THEME
$page-bg: $sunflower;
$page-copy: $midnightblue;
$panel-header-bg: $orange;
$panel-header-border: $midnightblue;
$panel-bg: $clouds;
$highlight: $pomegranate;
$header1: $wetasphault;
$header2: $asbestos;
// END THEME

// MARKETING
$panel-marketing-bg: $clouds;
$panel-marketing-header-bg: $belize_hole;
$panel-marketing-header-border: $midnightblue;
$panel-marketing-highlight: $green_sea;
